* {
	font-size: 18px;
	font-family: "BitstromWera Nerd Font", monospace;
}

window#waybar {
	background: none;
	color: #ececec;
}

#custom-icon {
  color: #04a8f8;
}

#custom-icon,
#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#backlight,
#window,
#workspaces,
#tray {
	font-size: 18px;
	font-family: "BitstromWera Nerd Font";
	background: rgba (0, 0, 0, 0.7);
	border-radius: 12px;
	margin: 6 3;
}

#clock {
	padding: 4 10;
}

#memory, #pulseaudio, #cpu, #battery, #disk, #backlight{
	padding: 4 18 4 8;
}

#custom-icon {
 	padding: 0 0 0 8;      
}

#tray {
	padding: 0 4 0 6;
}

#workspaces {
  font-size: 24px;
  padding: 0 5;
  }

#workspaces button {
	margin: 0px 2px 0px 2px;
	padding: 0px 10px 0px 2px;
	color: #fdf6e3;
}

#workspaces button.empty {
	color: #999999;
}

#workspaces button.active {
	color: #9525ff;
}

#workspaces button:hover {
	color: #9525ff;
}

#pulseaudio {
	color: #268bd2;
}
#memory {
	color: #2aa198;
}
#cpu {
	color: #6c71c4;
}
#battery {
	color: #46b40e;
}
#backlight {
	color: #ffd966;
}
#disk {
	color: #b58900;
}

#window {
	padding: 0 10px;
	color: #9525ff;
}

window#waybar.empty #window{
	min-width: 20px;
}
