* {
	font-size: 18px;
	font-family: "BitstromWera Nerd Font", monospace;
}

window#waybar {
	background: none;
	color: #ececec;
}

#custom-icon {
  color: #04a8f8;
}

#custom-icon,
#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#backlight,
#window,
#workspaces,
#temperature,
#tray {
	font-size: 18px;
	font-family: "BitstromWera Nerd Font";
	background: rgba (0, 0, 0, 0.7);
	margin: 3 0;
}

#clock {
	border-radius: 18px;
	padding: 0 10;
	margin: 3 5;
}

#memory, #pulseaudio, #cpu, #battery, #temperature, #disk, #backlight{
	padding: 4 18 4 8;
}

#custom-icon {
	margin: 3 4 3 0;
 	padding: 0 0 0 8;
	border-radius: 0 18 18 0;	
}

#tray {
	border-radius: 18 0 0 18;
	margin: 3 0 3 0;
	padding: 0 0 2 12;
}

#window {
	margin: 3 0 3 0;
	border-radius: 0 18 18 0;
}

#workspaces {
  font-size: 24px;
  padding: 0 5;
  margin: 3 0 3 4;
  border-radius: 18 0 0 18;
  }

#workspaces button {
	margin: 0px 2px 0px 2px;
	padding: 0px 10px 0px 2px;
	color: #fdf6e3;
}

#workspaces button.empty {
	color: #999999;
}

#workspaces button.active {
	color: #9525ff;
}

#workspaces button:hover {
	color: #9525ff;
}

#pulseaudio {
	border-radius: 0px;
	color: #268bd2;
}

#memory {
	padding: 4 12 4 8;
	border-radius: 0px;
	color: #2aa198;
}

#cpu {
	padding: 4 12 4 8;
	color: #6c71c4;
}

#temperature {
	padding: 4 8 4 8;
	color: #cc0a0a;
}

#battery {
	border-radius: 0px;
	color: #46b40e;
}

#backlight {
	border-radius: 0px;
	color: #ffd966;
}

#disk {
	padding: 4 8 4 8;
	color: #b58900;
}

#window {
	padding: 0 10 0 0px;
	color: #9525ff;
}

window#waybar.empty #window{
	min-width: 10px;
}
