* {	
	margin: 1 1;
	font-size: 16px;
	font-family: "BitstromWera Nerd Font", monospace;
	border-radius: 18px;
}

window#waybar {
	background: rgba (0, 0, 0, 0.7);
	color: #ececec;
}

#custom-icon {
	color: #04a8f8;
}

#custom-icon,
#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#backlight,
#window,
#workspaces,
#tray {
	font-size: 16px;
	font-family: "BitstromWera Nerd Font";
}

#memory, #pulseaudio, #cpu, #battery, #disk, #backlight{
	padding: 0 18 0 8;
}

#custom-icon {
 	padding: 0 0 0 9;
}

#tray {
	padding: 0 6 0 6;
}

#workspaces {
  	font-size: 24px;
  	padding: 0 5 0 5;
  }

#workspaces button {
	margin: 0px 2px 0px 2px;
	padding: 0px 10px 0px 2px;
	color: #fdf6e3;
}

#workspaces button.empty {
	color: #999999;
}

#workspaces button.active {
	color: #9525ff;
}

#workspaces button:hover {
	color: #9525ff;
}

#pulseaudio {	
	margin: 0 0 1 0;
	color: #268bd2;
	border-radius: 0px;
}

#memory {
	border-radius: 0 0 0 8;
	margin: 0 0 1 4;
	color: #2aa198;
}

#cpu {
	color: #6c71c4;
}

#battery {
	border-radius: 0 0 8 0;
	margin: 0 4 1 0;
	color: #46b40e;
}

#backlight {
	border-radius: 0px;
	margin: 0 0 1 0;
	color: #ffd966;
}

#disk {
	color: #b58900;
}

#window {
	padding: 2 8 4 8;
	color: #9525ff;
}

window#waybar.empty #window{
	min-width: 30px;
}
