* {
	font-size: 18px;
	font-family: "BitstromWera Nerd Font", monospace;
}

window#waybar {
	background: none;
	color: #ececec;
}

#custom-icon {
  color: #04a8f8;
}

#custom-icon,
#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#backlight,
#window,
#workspaces,
#tray {
	font-size: 18px;
	font-family: "BitstromWera Nerd Font";
	background: rgba (0, 0, 0, 0.7);
	border-radius: 0 0 12 12;
	margin: 0 0 2 0;
}

#clock {
	font-size: 19px;
	padding: 0 10;
}

#memory, #pulseaudio, #cpu, #battery, #disk, #backlight{
	padding: 2 18 4 8;
}

#custom-icon {
	margin: 0 0 2 0;
 	padding: 2 0 4 10;
	border-radius: 0;	
}

#tray {
	margin: 0 0 2 0;
	padding: 2 4 4 10;
	border-radius: 0 0 0 12;
}

#window {
	margin: 0 0 2 0;
	padding: 4 0;
}

#workspaces {
	font-size: 24px;
	padding: 4 5;
	margin: 0 0 2 0;
	border-radius: 0;
}

#workspaces button {
	margin: 0px 2px 0px 2px;
	padding: 0px 10px 0px 2px;
	color: #fdf6e3;
}

#workspaces button.empty {
	color: #999999;
}

#workspaces button.active {
	color: #9525ff;
}

#workspaces button:hover {
	color: #9525ff;
}

#pulseaudio {
	border-radius: 0px;
	color: #268bd2;
}

#memory {
	border-radius: 0px;
	color: #2aa198;
}

#cpu {
	color: #6c71c4;
}

#battery {
	border-radius: 0px;
	color: #46b40e;
}

#backlight {
	border-radius: 0px;
	color: #ffd966;
}

#disk {
	color: #b58900;
}

#window {
	padding: 0 10 0 0;
	color: #9525ff;
	border-radius: 0 0 12 0;
}

window#waybar.empty #window{
	min-width: 1px;
}
